.service-block {
  height: 450px;
}

@media (max-width: 992px) {
  .hero-area .block h1 {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .about .block {
    height: 570px;
  }
  .member-meta {
    height: 350px;
  }
}
